<launch>

  <arg name="relative_pose_a_l"          default="[0.25, -0.25, -0.016944540722317047, 0.0 , 0.0, 0.78539816339 ]" />
  <arg name="relative_pose_a_r"          default="[0.25, 0.25, -0.016944540722317047, 0.0 , 0.0, 2.35619449019   ]" />
  <arg name="relative_pose_b_l"          default="[-0.25, 0.25, -0.016944540722317047, 0.0 , 0.0, -2.35619449019 ]" />
  <arg name="relative_pose_b_r"          default="[-0.25, -0.25, -0.016944540722317047, 0.0 , 0.0, -0.78539816339 ]" />
  
  
  <!-- <arg name="admittance" default="[0.0,0.0,0.001,0.0,0.0,0.0]" /> -->

  <include file="$(find manipulator_control)/launch/dezentralized_admittance_controller_sim.launch">
    <arg name="tf_prefix" value="mur620a" />
    <arg name="UR_prefix" value="UR10_l" />
    <arg name="external_localization" value="False" />
    <arg name="relative_pose" value="$(arg relative_pose_a_l)" />
  </include>

  <include file="$(find manipulator_control)/launch/dezentralized_admittance_controller_sim.launch">
    <arg name="tf_prefix" value="mur620a" />
    <arg name="UR_prefix" value="UR10_r" />
    <arg name="external_localization" value="False" />
    <arg name="relative_pose" value="$(arg relative_pose_a_r)" />
  </include>

  <include file="$(find manipulator_control)/launch/dezentralized_admittance_controller_sim.launch">
    <arg name="tf_prefix" value="mur620b" />
    <arg name="UR_prefix" value="UR10_l" />
    <arg name="external_localization" value="False" />
    <arg name="relative_pose" value="$(arg relative_pose_b_l)" />
  </include>

  <include file="$(find manipulator_control)/launch/dezentralized_admittance_controller_sim.launch">
    <arg name="tf_prefix" value="mur620b" />
    <arg name="UR_prefix" value="UR10_r" />
    <arg name="external_localization" value="False" />
    <arg name="relative_pose" value="$(arg relative_pose_b_r)" />
  </include>

</launch>
